{% block _order_review_payment_methods_apruve_widget -%}
    {% if options.payment_method is defined %}
        {% set componentOptions = view.options.componentOptions|default({}) %}

        {% set attr = layout_attr_defaults(attr, {
            'data-page-component-module': 'oroapruve/js/app/components/payment-method-component',
            '~data-page-component-options': componentOptions|merge({paymentMethod: options.payment_method}),
            '~class' : ' hidden'
        }) %}

        <div {{ block('block_attributes') }}></div>
    {% endif %}
{%- endblock %}
